body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    text-align: center;
    font-family: 'VT323', monospace;
    background: url('./images/Background.webp') no-repeat center center fixed;
    background-size: cover;
}

#game {
    padding: 0;
    margin: 0;
    width: 60vh;
    height: 80vh;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#game .screen {
    margin-top: 18vh;
    font-family: 'VT323', monospace;
    width: 100%;
    height: 100%;
    display: none;
    color: white;
    background-color: black;
}

#game .screen.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul.menu {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

ul.menu li {
    margin: 0.8em 0;
}

button {
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
    color: white;
    text-transform: uppercase;
    letter-spacing: 0.1em;
    width: 12em;
    height: 3.5em;
    background: black;
    border: 3px solid white;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    text-shadow: 2px 2px 0 #000;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

ul.menu li button:hover {
    border: 3px solid white;
    transform: translateY(-2px);
}

@keyframes blink {
    0%, 100% {
        color: white;
    }
    50% {
        color: transparent;
    }
}

.start-button {
    animation: blink 1s step-start infinite;
}

#game div h1 {
    font-size: 1em;
    text-align: center;
}

#high-scores ol {
    text-align: center;
    padding: 0;
    margin: 0;
    list-style: none;
}

#game div p {
    font-size: 0.5em;
}

.canvas {
    width: 100%;
    height: 100%;
    flex-grow: 1;
}

.logo {
    height: 10vh;
}

a {
    border: 1px solid #999;
    padding: 4px 8px;
    display: inline-block;
    text-decoration: none;
    color: white;
    background: linear-gradient(to bottom, #485563, #29323c);
    border-radius: 4px;
    font-weight: bold;
    text-transform: uppercase;
    transition: background-color 0.2s ease;
}

a:hover {
    background: linear-gradient(to bottom, #29323c, #485563);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    transform: translateY(-2px);
}

input {
    border: 1px solid #999;
    padding: 8px;
    border-radius: 4px;
    font-size: 16px;
    outline: none;
}

input:focus {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 20px;
    width: 22px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #29323c;
}

input:focus + .slider {
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

#mobile-controls { 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 10px;
    height: 10vh;
    width: 100vw;
    visibility: hidden;
    z-index: 10;
}

#mobile-controls button {
    width: 12vw;
    height: 12vw;
    background: #ff0b00;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    font-family: 'VT323', monospace;
    font-size: 4vw;
    font-weight: bold;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: 10vw;
}

#mobile-controls button:after {
    content: "FIRE";
}

#mobile-movement-container {
    position: relative;
    width: 30vw;
    height: 30vw;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10vw;
}

#joystick-boundary {
    position: absolute;
    width: 30vw;
    height: 30vw;
    background: transparent;
    border: 2px solid rgba(211, 211, 211, 0.2);
    border-radius: 50%;
    z-index: 1;
}

#mobile-movement {
    -webkit-appearance: none;
    width: 100%;
    height: 12vw;
    background: transparent;
    border: none;
    position: relative;
    z-index: 2;
}

#mobile-movement::-webkit-slider-runnable-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: transparent;
    border: none;
}

#mobile-movement::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12vw;
    height: 12vw;
    background: blue;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    z-index: 3;
}

#mobile-movement::-moz-range-track {
    width: 100%;
    height: 100%;
    cursor: pointer;
    background: transparent;
    border: none;
}

#mobile-movement::-moz-range-thumb {
    width: 12vw;
    height: 12vw;
    background: blue;
    border-radius: 50%;
    border: 2px solid black;
    position: relative;
    z-index: 3;
}

#mobile-movement::before,
#mobile-movement::after {
    display: none;
}
